.wrapper {

  font-size: 2vmin;
  
  header, footer {
    height: 10vh;
    max-height: 50px;
    min-height: 20px;
    width: 100%;
    left: 0; 
    position: absolute; 
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 

    max-width: 2000px;
    margin: auto;
    opacity: 0.5;
    background: #d9e1e8;
  }

  header {
    top: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  footer {
    bottom: 0;
    opacity: 0.3;
    justify-content: space-around;

    p, div {
      flex-basis: 33%;
    }
   
    .social-section {
      font-size: 2vmin;
      padding-left: 2vw;
      a {
        text-decoration: none;
        display: inline-block;
        padding: 0 1vw;
      }
    }
  }

  .content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    max-width: 2000px;
    position: relative;
    margin: auto;

    color: #d9e1e8;

    .button {
      z-index: 10;
      margin-bottom: -25vmin;
      margin-left: 1vmin;

      width: 10vmin;
      height: 10vmin;
      max-width: 60px;
      max-height: 60px;
      border-radius: 5vmin;

      background: #2b90d9;

      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;  
      }

    }

    .quote, 
    .author {
      position: absolute;
      border-radius: 20px;
      padding: 2vmin;
      width: 30vw;
      max-width: 400px;
    }

    .shadowed {
      box-shadow: 0.2vw 0.2vw 0.2vw rgba(79, 75, 90, 0.5);
    }

    .quote {
      right: 59%;
      bottom: 50%;
      background: #2b90d9;
    }

    .author {
      left: 60%;
      bottom: 40%;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      background: #9baec8;

      .share-buttons {
        a {
          position: absolute;
          background: #2b90d9;
          color: #d9e1e8; 
          font-size: 5vmin;
          bottom: -150%;
          right: 0%;
          text-decoration: none;
          border-radius: 3vmin;
          
          &:hover {
            transform: rotate(45deg);
            transition: all .2s ease-in-out;  
          }

        }
      }
    }

    .quote-sign-open, 
    .quote-sign-close {
      position: absolute;
      width: 6vmin;
      height: 6vmin;
      max-width: 50px;
      max-height: 50px;
      border-radius: 3vmin;
      bottom: -2vh;
      text-align: center;
      font-size: 8vmin;
      text-align: center;

      svg {
        width: 9vmin;
        display: block; 
        margin: 10% 10%;
        width: 150%;
        height: 150%;
        fill: white;
      }
    }

    .quote-sign-open {
      right: -5%;
      background: #2b90d9;
    }

    .quote-sign-close {
      left: -5%;
      background: #9baec8;
      font-style: normal;
      font-weight: normal;
    }

    .vector-bg {

      svg {
        width: 80vmin;
        max-width: 600px;
        margin-top: 10vh;

        .color-1 {
          fill: #2b90d9;
        }

        .color-2 {
          fill: #9baec8;
        }
      }
    }
  }
}