/* Large desktops and laptops more than 1200px */
/* Landscape tablets 993 to 1200px and medium desktops */
/* Portrait tablets 768 to 992px and small desktops */
/* Landscape phones 481 to 767px and portrait tablets */
/* Portrait phones 480px and smaller */
@media (max-width: 480px) {
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }
}
