$background: #ffffff #e1eef6 #34314c #d9e1e8 #A593E0
             #f4f5f9 #fbd14b #fff1b9 #75D701;

$color-1:    #4F4B5A #ff5f2e #47b8e0 #2b90d9 #FFFFF3
             #f1404b #6a60a9 #5e5e5f #F8F8FF;

$color-2:    #66A9A5 #fcbe32 #ffc952 #9baec8 #566270
             #252c41 #fffcf0 #272625 #3B4E32;

$sh-light: rgba(79, 75, 90, 0.7);
$sh-dark: rgba(0, 0, 0, 0.3);

$shadow: $sh-light $sh-light $sh-dark $sh-light $sh-light
         $sh-light $sh-light $sh-dark $sh-light;

$schema-number: random(9);

body {
  background: #ffffff;
}

.container {
  position: relative;
  margin: 10vh auto;
  width: 1000px;

  color: #ffffff;

  .wrapper {
    position: relative;

    margin: auto; // block content centering

    .bg {
      height: 100%;
      position: relative; // needed for z-index
      z-index: 999;

      .button {
        position: absolute;
        left: 40%;
        top: 25%;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #ff5f2e;
        box-shadow: 3px 3px 3px $sh-light;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: all .2s ease-in-out;  
        }
      }
    
      .color-1 {
        fill: #4F4B5A; 
      }       
      .color-2 {
        fill: #66A9A5; 
      }       
      .background {
        fill: #ffffff; 
      }       
    }

    .quote, .author {
      position: absolute;
      border-radius: 20px;
      padding: 20px;
      width: 380px;
      box-sizing: border-box;
    }

    .shadowed {
      box-shadow: 3px 3px 3px $sh-light;
    }

    .quote {
      padding-right: 30px;
      bottom: 280px;
      left: -40px;
      background: #4F4B5A;
    }

    .author {
      padding-left: 40px;
      bottom: 340px;
      right: 90px;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      background: #66A9A5;
    } 
  }
  
}