body {
  background: #e1eef6;
}

.container {
  position: relative;
  margin: 10vh auto;
  width: 1000px;
}

.container .wrapper {
  position: relative;
  margin: auto;
}

.container .wrapper .background {
  position: relative;
  height: 100%;
}

.container .wrapper .background .color-1 {
  fill: #ff5f2e;
}

.container .wrapper .background .color-2 {
  fill: #fcbe32;
}

.container .wrapper .background .background {
  fill: #e1eef6;
}

.container .wrapper .quote, .container .wrapper .author {
  position: absolute;
  border-radius: 20px;
  padding: 20px;
  width: 380px;
  box-sizing: border-box;
  z-index: -1;
}

.container .wrapper .shadowed {
  box-shadow: 3px 3px 3px rgba(79, 75, 90, 0.7);
}

.container .wrapper .quote {
  padding-right: 30px;
  bottom: 270px;
  left: 12px;
}

.container .wrapper .author {
  padding-left: 40px;
  bottom: 353px;
  right: 10px;
}
